.image_wrapper {
  width: 400px;
  height: 400px;

  .image_wrapper_img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1440px){
  .image_wrapper{
    width: 340px;
    height: 340px;
  }
}
