.resident_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 360px;
  z-index: 10;
  cursor: pointer;

  .resident_footer {
    display: flex;
    align-items: center;
    color: white;
    font-size: 22px;
  }
  .resident_subTitle{
    font-size: 12px;
    margin: 0 0 -6px 2px;
  }
}

.resident_wrapper:hover {
  z-index: 100;
}

.resident_wrapper_none {
  display: none;
}
