@import './src/style/variables.scss';

.card_wrapper,
.card_wrapper_junkoid
{
  position: absolute;
  top: 10%;
  width: 500px;
  height: 640px;
  color: white;
  z-index: 1000;

  .card_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .card_header_title {
      font-size: 92px;
      letter-spacing: -4px;
      line-height: 0.8;
      margin: 0 0 4px -5px;
    }

    .card_header_subtitle {
      font-size: 30px;
    }
    .card_header_subtitle_disable {
      display: none;
    }

    .card_header_close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 28px;
      cursor: pointer;
    }
  }

  .card_img {
    width: 500px;
    height: 500px;
  }

  .card_footer {
    display: flex;
    font-size: 11px;
    margin-top: -6px;
    font-weight: 500;
    line-height: 1.1;

    .card_p_one {
      padding-right: 5px;
      width: 50%;
    }

    .card_p_two {
      padding-left: 5px;
      width: 50%;
    }
  }

  .card_mix {
    font-size: 11px;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3px;
    cursor: pointer;
    color: white;
  }

  .card_mix:hover {
    color: #666666;
  }
}

.card_wrapper_junkoid{
  .card_header{
    .card_header_title {
      font-size: 60px;
      letter-spacing: -4px;
      line-height: 1.2;
      margin: 0 0 0 -5px;
    }
  }
}

@media screen and (max-width: 575px) {
  .card_wrapper {
    width: 100vw;
    height: 640px;
    box-sizing: border-box;
    padding: 0 0.5% 0.5%;

    .card_header {
      .card_header_subtitle {
        font-size: 14px;
      }
    }

    .card_img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 575px) {
  .card_wrapper {
    width: 100vw;
    height: 640px;
    box-sizing: border-box;
    padding: 0 0.5% 0.5%;

    .card_header {
      .card_header_subtitle {
        font-size: 14px;
      }
    }

    .card_img {
      width: 100%;
      height: auto;
    }
  }
}
