@import './src/style/variables.scss';

.main_wrapper,
.main_wrapper_blur {
  font-family: 'Inter', sans-serif;
  background-color: $backgroundColor;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .main_description {
    margin-top: 20px;
    width: 700px;
    height: 413px;
    color: white;
    font-size: 52px;
    text-align: center;
    line-height: 1;
  }

  .main_footer {
    position: fixed;
    bottom: 1%;
    left: 48%;
    color: #666666;
    cursor: pointer;
  }
  .main_footer:hover {
    color: white;
  }
}

.main_wrapper_blur {
  filter: blur(0.5rem) brightness(0.7);
}

@media screen and (max-width: 1440px) {
  .main_wrapper,
  .main_wrapper_blur {
    .main_description {
      font-size: 42px;
    }
  }
}
