@import './src/style/variables.scss';

.main_wrapper,
.main_wrapper_blur {
  font-family: 'Inter', sans-serif;
  background-color: $backgroundColor;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .main_description {
    margin-top: 20px;
    width: 850px;
    height: 413px;
    color: white;
    font-size: 52px;
    text-align: center;
    line-height: 1;
  }

  .main_footer {
    text-decoration: none;
    position: fixed;
    bottom: 1%;
    left: 48%;
    color: white;
    cursor: pointer;
  }

  .main_footer:hover {
    color: #666666;
  }
}

.main_wrapper_blur {
  filter: blur(0.5rem) brightness(0.7);
}

@media screen and (max-width: 1440px) {
  .main_wrapper,
  .main_wrapper_blur {
    .main_description {
      width: 700px;
      height: 413px;
      font-size: 42px;
    }
  }
}

@media screen and (max-width: 575px) {
  .main_wrapper,
  .main_wrapper_blur {
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: unset;

    .main_description {
      width: 90%;
      font-size: 24px;
      margin-bottom: 90px;
    }

    .main_cards {
      margin-bottom: 30px;
    }

    .main_footer {
      left: 40%;
    }
  }
}
