@import './src/style/variables.scss';

.app_wrapper,
.app_wrapper_blur {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  overflow: auto;
}
